#!/bin/bash

docker exec -it {{ mongodb_router_container_name }} bash -c "echo 'sh.addShard(\"{{ shard2_set_name }}/{{ host2 }}:{{ mongodb_shard2_port }}\")' | mongo admin -u {{ mongo_admin }} -p {{ mongo_password }}"