#!/bin/bash

docker exec -it {{ mongodb_router_container_name }} bash -c "echo 'db.createUser( { user: \"{{ mongo_admin }}\",pwd: \"{{ mongo_password }}\",roles: [ { role: \"root\", db: \"admin\" } ] })' | mongo admin"